<!-- lockers/templates/lockers/change_password.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Locker Password</title>
</head>
<body>
    <h1>Change Password for Locker {{ locker.id }}</h1>
    <h2>The password must be 4 digits between 1 and 6</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.password.label_tag }} {{ form.password }}
        <button type="submit">Save New Password</button>
    </form>

    <h3>Simbología:</h3>
    <div>
        {% for i in "123456" %}
            <div style="display: inline-block; text-align: center; margin: 5px;">
                <img src="{% static 'lockers/images/'|add:i|add:'.png' %}" alt="Símbolo {{ i }}" width="100">
                <p>Número {{ i }}</p>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'index' %}">Back to Home</a>
</body>
</html>